@page {
  size: A4;
  margin: 1cm;
}

h1 {
  font: 900 60px/1.6 'Poppins';
  letter-spacing: 0.035em;
}

h2 {
  font: 600 12px/1.5 'Hind';
}

html, body {
  margin: 0;
  font: 400 12px/1.2 'Hind';
  color: #292929;
}

.header, .main {
  margin-left: 0.5cm;
}

.divider2 {
  margin-top: 3px;
  border-bottom: 3px solid #d1d1d1;
  width: 19cm;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.divider {
  border-bottom: 3px solid #f2f4f7;
  width: 18cm;
}

.payment-details-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 21cm;
}

.payment-method, .due-date, .account-number, .transfer-title {
  display: flex;
  column-gap: 20px;
  margin-bottom: 3px;
}

.payment-method__label, .due-date__label, .account-number__label, .transfer-title__label {
  font: 600 12px/1.2 'Hind';
}

.credentials-container {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  display: flex;
  column-gap: 100px;
  width: 1000px;
}

.seller-details, .buyer-details {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.seller-details__content, .buyer-details__content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.content__name, .content__address, .content__nip, .bank__number, .bank {
  display: flex;
  column-gap: 20px;
  margin-bottom: 7px;
}

.table {
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  width: 900px; 
}

.table .row {
  display: flex;
  border-bottom: 1px solid #f2f4f7;
}

.table .row-header {
  border-top: none;
  font-weight: 600;
  font-size: 12px;
  background-color: #f2f4f7;
}

.table > .row:nth-last-child(2) {
  border-bottom: 1px solid #f2f4f7;
}

.table .col {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table .col-index {
  width: 100px; /* Adjusted for "Lp" column */
  justify-content: center;
  text-align: center;
  border-right: 1px solid #f2f4f7;
  border-left: 1px solid #f2f4f7;
}

.table .col-name {
  width: 650px; /* Adjusted for "Nazwa" column */
  justify-content: flex-start;
  text-align: left;
  border-right: 1px solid #f2f4f7;
}

.table .col-amount, .table .col-unit {
  width: 100px; /* Adjusted for "Ilość" and "Jm" columns */
  justify-content: center;
  text-align: center;
  border-right: 1px solid #f2f4f7;
}

.table .col-price-per-unit-netto, .table .col-price-netto, .table .col-vat-perc, .table .col-vat, .table .col-price-brutto {
  width: 150px;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #f2f4f7;
}

.table .total-wrapper,
.table .row-total-details {
  align-items: right;
}

.table .total-wrapper .row,
.table .total-details .row {
  border-bottom: 1px solid #f2f4f7;
}

.row-total .col-price-per-unit-netto,
.row-total-details .col-price-per-unit-netto {
  font-weight: 600;
  width: 220px;
  border-left: 1px solid #f2f4f7;
  justify-content: flex-end;
}

.summary-container {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.in-total, .in-total-verbally, .notes {
  display: flex;
  margin-bottom: 10px;
}

.in-total__label, .in-total-verbally__label, .notes__label {
  font: 600 12px/1.2 'Hind';
  text-align: right;
}

.signatures-container {
  display: flex;
  column-gap: 20px;
  width: 20cm;
  margin-top: 50px;
}

.seller-signature {
  text-align: right;
}

.seller-signature__value {
  margin-top: 40px;
  text-align: right;
}

.seller-signature__capture {
  margin-top: 10px;
  bottom: 10px;
  font: 600 12px/10px 'Hind';
  text-align: right;
}
